
@{
    ViewData["Title"] = "Forum";
}

<h1>Forum</h1>
<div class="container">
 
    <div class="row">

        <div class=" col-sm-2">
            <ul >
                <li>Nissan</li>
                <li>Nissan</li>
                <li>Nissan</li>
                <li>Nissan</li>
                <li>Nissan</li>
                <li>Nissan</li>
            </ul>
        </div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>

            </div>

        </div>
    </div>
   
    
</div>



