
@{
    ViewData["Title"] = "Forum";
}

<!-- Make sure you put this AFTER Leaflet's CSS -->


@section scripts{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script>
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidmFsZGV6MjA2IiwiYSI6ImNrZzg5czg5MDBmOTMycG15Z3pxbWJqcnIifQ.rTq6lNLkYImh6xV9LPn-6w'
        }).addTo(mymap);
    </script>
}
<h1>Forum</h1>

<div id="mapid" style="height:300px">
<h1> map </h1>
</div>
<div class="container">

    <div class="row">

        <div class=" col-sm-2">
            <ul>
                <li>Nissan</li>
                <li>Nissan</li>
                <li>Nissan</li>
                <li>Nissan</li>
                <li>Nissan</li>
                <li>Nissan</li>
            </ul>
        </div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>

            </div>

        </div>
    </div>


</div>



