
@{
    ViewData["Title"] = "Buy/Sell";
}

<h1>Buy/Sell</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <card class="card-body">
                    <h5>Filters</h5>

                    <!-- Section: Year -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Year</h6>

                        <form>
                            <div class="d-flex align-items-center mt-4 pb-1">
                                <div class="md-form md-outline my-0">
                                    <input id="from" type="text" class="form-control mb-0">
                                    <label for="form">Min</label>
                                </div>
                                <p class="px-2 mb-0 text-muted"> - </p>
                                <div class="md-form md-outline my-0">
                                    <input id="to" type="text" class="form-control mb-0">
                                    <label for="to">Max</label>
                                </div>
                            </div>
                        </form>

                    </section>
                    <!-- Section: Year -->
                    <!-- Section: Make -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Make</h6>

                        <div class="form-check pl-0 mb-3">
                            <input type="checkbox" class="form-check-input filled-in" style="padding-left: 50px;" id="new">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="new">Ford</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="checkbox" class="form-check-input filled-in" style="padding-left: 50px;" id="used">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="used">Toyota</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="checkbox" class="form-check-input filled-in" style="padding-left: 50px;" id="collectible">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">Nissan</label>
                        </div>
                        <div class="form-check pl-0 mb-3 pb-1">
                            <input type="checkbox" class="form-check-input filled-in" style="padding-left: 50px;" id="renewed">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">BMW</label>
                        </div>

                    </section>
                    <!-- Section: Make -->
                    <!-- Section: Model -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Make</h6>

                        <div class="form-check pl-0 mb-3">
                            <input type="checkbox" class="form-check-input filled-in" id="new">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="new">F-150</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="checkbox" class="form-check-input filled-in" id="used">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="used">Corolla</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="checkbox" class="form-check-input filled-in" id="collectible">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">Altima</label>
                        </div>
                        <div class="form-check pl-0 mb-3 pb-1">
                            <input type="checkbox" class="form-check-input filled-in" id="renewed">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">M5</label>
                        </div>

                    </section>

                    <!-- Section: Price-->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Price</h6>

                        <div class="slider-price d-flex align-items-center my-4">
                            <span class="font-weight-normal small text-muted mr-2">$0</span>
                            <form class="multi-range-field w-100 mb-1">
                                <input id="multi" class="multi-range" type="range" />
                            </form>
                            <span class="font-weight-normal small text-muted ml-2">$100</span>
                        </div>

                    </section>
                    <!-- Section: Price-->
                </card>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>