@model Event


<p>Event form</p>

<div class="col-6 ml-auto mr-auto">
    <form>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateStart"></label>
            <input asp-for="DateStart" class="form-control">
            <span asp-validation-for="DateStart" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateEnd"></label>
            <input asp-for="DateEnd" class="form-control">
            <span asp-validation-for="DateEnd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image">Upload an Image</label>
            <input type="file" asp-for="Image" class="form-control-file" id="eventImage">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Create Event</button>
        </div>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}