@model IEnumerable<Event>
@{
    ViewData["Title"] = "Home Page";
}


@if (Model.Count() == 0)
{
    <p>We did not retrieve any appointmnets</p>
}
else
{
    @foreach (var item in Model)
    {
        <div class="card">
            <card class="card-body">
                <div class="row">
                    <div class="col-4">
                        @if (ViewBag.ImageData != null)
                        {
                            <img src="@ViewBag.ImageData" style="width:337px; height:200px;" />
                        }
                        else
                        {
                            <img src="~/Asset/placeholder.jpg" style="width:337px; height:200px;" />
                        }

                    </div>
                    <div class="col-8 pl-0">
                        @item.Title
                        <div class="row">
                            <div class="col-12">
                                <span>Time:</span>
                                <span>Date: @item.DateStart.ToString("MM/dd/yyyy")</span>
                                <span>Location:</span>
                            </div>
                            <div class="col-12 mt-4">
                                @item.Description
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <button class="btn btn-primary w-100">Join</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success w-100">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg>
                            Like
                        </button>
                    </div>
                </div>
            </card>
        </div>
    }

}

