@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <card class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="~/Asset/placeholder.jpg" style="width:337px; height:200px;" />
            </div>
            <div class="col-8 pl-0">
                Event Title
                <div class="row">
                    <div class="col-12">
                        <span>Time:</span>
                        <span>Date:</span>
                        <span>Location:</span>
                    </div>
                    <div class="col-12">
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
                        Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </div>
                </div>
            </div>  
        </div> 
        <div class="row mt-2">
            <div class="col-2">                
                <button class="btn btn-primary w-100">Join</button>
            </div>
            <div class="col-2">                
                <button class="btn btn-outline-success w-100">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                    Like                    
                </button>
            </div>
        </div>
    </card>
</div>
