@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <card class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="~/Asset/placeholder.jpg" style="width:320px; height:200px;" />
            </div>
            <div class="col-8 pl-0">
                Event Title
                <div class="row">
                    <div class="col-12">
                        <span>Time:</span>
                        <span>Date:</span>
                        <span>Location:</span>
                    </div>                
                </div>
            </div>            
        </div>    
    </card>
</div>
